[submodule "clash-foss"]
	path = core/src/main/golang/core/foss
	url = https://github.com/Kr328/clash.git
[submodule "clash-premium"]
	path = core/src/main/golang/core/premium
	url = https://github.com/Kr328/clash.git
