<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.kr328.clash">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".MainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProfilesActivity"
            android:label="@string/clash_profiles"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreateProfileActivity"
            android:label="@string/clash_new_profile"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ImportFileActivity"
            android:label="@string/clash_import_from_file"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ClashStatusActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name=".ProxyActivity"
            android:label="@string/clash_proxy_manage"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name=".SettingMainActivity"
            android:label="@string/application_setting_title"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name=".SettingProxyActivity"
            android:label="@string/application_setting_proxy"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name=".SettingAccessActivity"
            android:label="@string/proxy_setting_vpn_setting_access_control"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name=".SettingApplicationActivity"
            android:label="@string/application_setting_application"
            android:exported="false"
            android:screenOrientation="portrait" />
        <service android:name=".ClashStartService"
            android:exported="false"/>
        <receiver
            android:name=".BootCompleteReceiver"
            android:exported="true"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
